name: CI

on:
  push:
    tags:

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Hugo setup
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          extended: true
      - name: Build
        run: hugo --minify --gc
      - name: Setup Ossutil
        uses: manyuanrong/setup-ossutil@v3.0
        with:
          endpoint: "oss-cn-beijing.aliyuncs.com"
          access-key-id: ${{ secrets.KEY }}
          access-key-secret: ${{ secrets.SECRET }}
      - run: ossutil cp -rf public oss://mfnest/
